h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

body {
    color: #5B2C5C;
    font-family: Calibri;
}

.FormTasiyici {
    width: 450px;
    min-height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid #5B2C5C;
}

.FormBaslik {
    border-bottom: 1px solid silver;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: 400;
    font-size: 15pt;
}

.MetinKutu {
    width: 300px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6C406C;
}

    .MetinKutu:focus {
        outline: 1px solid #6C406C;
    }

.IcerikTasiyici {

    padding: 20px;
}

.HataMesaji {
    margin-left:130px;
    background-color: #fbbcbc;
    color: darkred;
    border: 1px solid darkred;
    padding: 7px;
    border-radius: 30px;

}

.ButonRow {
    margin-top:30px;
    margin-left:170px;

}
.Buton {
    text-decoration:none;
    border: 1px solid #6C406C;
    border-radius: 10px;
    background-color: white;
    color: #3d3c3c;
    padding: 5px;
}


    .Buton:hover {
        background-color: #f4f1f1;
    }


.FormBaslik img {
    width: 50px;
}

.icerikBaslik {
    padding-left:10px;
}
.basariliMesaj {
    margin-bottom: 15px;
    padding: 10px 25px;
    width: 350px;
    border: 1px solid #098313;
    border-radius: 10px;
    background-color: #c8ffbb;
    color: #098313;
}

.basarisizMesaj {
    margin-bottom: 15px;
    padding: 10px 25px;
    width: 350px;
    border: 1px solid #890909;
    border-radius: 10px;
    background-color: #ffbcbc;
    color: #890909;
}